<div>
    <center><h4>扫码关注我的微信公众号，获取每日推送</h4></center>
    <table frame="void" align="center">
    <tr>
        <td>
            <a href="https://ws4.sinaimg.cn/large/006tNbRwly1fw3ku0cwuhj304g056dgk.jpg" title="云原生应用架构">
            <img src="https://ws4.sinaimg.cn/large/006tNbRwly1fw3ku0cwuhj304g056dgk.jpg">
            </a>
        </td>
        <td>
            <a href="https://ws1.sinaimg.cn/large/006tNbRwly1fw3l1sxoijj304g0563z7.jpg" title="ServiceMesher">
            <img src="https://ws1.sinaimg.cn/large/006tNbRwly1fw3l1sxoijj304g0563z7.jpg">
            </a>
        </td>
    </tr>
    </table>
</div>

<style>
table {
    padding: 0;
}

table tr {
    border-top: 1px solid #cccccc;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
    word-break: break-all;
}

table tr th :first-child,
table tr td :first-child {
    margin-top: 0;
}

table tr th :last-child,
table tr td :last-child {
    margin-bottom: 0;
}
.gallery-text {
 text-align: center;
 margin : 0px 1em 0px 1em;
}

.gallery-text a{
 font-size: 15px;
}

.gallery-text table tr td{
    border: 0;
}
</style>
