<div class="gallery gallery-text">
    <center><h4>扫码关注我的微信公众号，获取每日推送</h4></center>
    <table frame="void" align="center">
    <tr>
        <td>
            <a href="https://ws4.sinaimg.cn/large/006tNbRwly1fw3ku0cwuhj304g056dgk.jpg" title="云原生应用架构">
            <img src="https://ws4.sinaimg.cn/large/006tNbRwly1fw3ku0cwuhj304g056dgk.jpg">
            </a>
        </td>
        <td>
            <a href="https://ws1.sinaimg.cn/large/006tNbRwly1fw3l1sxoijj304g0563z7.jpg" title="ServiceMesher">
            <img src="https://ws1.sinaimg.cn/large/006tNbRwly1fw3l1sxoijj304g0563z7.jpg">
            </a>
        </td>
    </tr>
    </table>
</div>

<style>
.gallery-text {
 text-align: center;
 margin : 0px 1em 0px 1em;
}

.gallery-text a{
 font-size: 15px;
}

.gallery-text table tr td{
    border: 0;
}
</style>
