{{ if or .Params.toc (and (gt .WordCount 400 ) (eq .Params.toc "true")) }}
<aside class="toc">
    <div id='anchors-navbar'>
        <i class='fa fa-anchor'></i>
        {{ .TableOfContents }}
    </div>
    <!--
    <a href="#" id="GoTop">
        <i class="fa fa-arrow-up"></i>
    </a>
    -->
<div id="scrollTop">
  <div class="level-2"></div>
  <div class="level-3"></div>
</div>
<script type="text/javascript">
	UI.global_search();
	var uvOptions = {};
	// !important
	(function() {
		initScrollTop();
	})();
</script>
</aside>
{{ end }}
